<div class="container">
    <div class="row">
        <div class="col-sm-10 d-flex flex-row flex-wrap justify-content-around">
            <% @artists.each do |artist| %>
                <div >
                    <div class="card">
                        <img src = <%= artist.image_url %>>
                        <div class="card-body">
                            <h5 class="card-title"><%= artist.name %></h5>
                            <%= link_to "Ver más", artist, class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
             <% end %>
        </div>
        <div class="col-sm-2">
            <%= link_to "New Artist", new_artist_path, class: "btn btn-dark"%>
        </div>
        
        
    </div>


</div>








